* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --text-main: #34344E;
  --text-accent: #F49C89;
  --text-light: #eceef8;
}

/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
}

/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v13-cyrillic_latin-500.woff2') format('woff2');
}

/* steelfish-bold - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Steelfish';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/SteelfishRg-Bold.woff2') format('woff2');
}

/* steelfish-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Steelfish';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/SteelfishRg-Regular.woff2) format('woff2');
}

/* Form-selectors */

input[type='radio'],
label {
  cursor: pointer;
}

input[type='radio'] {
  position: relative;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type='radio']::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--text-light);
  border: 1.5px solid var(--text-accent);
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--text-accent);
}

/* /Form-selectors */


body {
  background-color: var(--text-main);
  font-family: 'Inter';
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  color: var(--text-main);
}

.section {
  padding: 0 20px 0 20px;
  overflow-x: hidden;
}

span {
  display: block;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  color: white;
}

/* Header */

.header {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.5rem;
  padding: 17px 20px 16px 20px;
  align-items: flex-start;
}

.header__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.header__list li {
  display: flex;
  align-items: center;
}

.header__menu-btn {
  background-color: var(--text-main);
  border: none;
}

.logo__icon {
  padding-right: 10px;
}

.phone__icon {
  padding-right: 10px;
}

/* /Header */

/* Hero */

.hero {
  padding-top: 82px;
}

.hero__title {
  margin: 0;
  color: var(--text-light);
  font-family: 'Steelfish';
  font-size: 5rem;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 20px;
}

.hero__title span:nth-child(2) {
  padding-left: 28px;
}

.hero__title span:nth-child(3) {
  padding-left: 28px;

}

.hero__text {
  color: white;
  margin-bottom: 20px;
}

.hero__btn {
  border-radius: 100px;
  background: var(--text-accent);
  display: flex;
  padding: 13px 30px;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0 auto;
  width: 100%;
  color: white;
  font-weight: 500;
}

/* /Hero */

/* About-studio */

.about-studio {
  padding-top: 143px;
}

.about-studio__title {
  margin-bottom: 30px;
  color: var(--text-light);
  font-family: 'Steelfish';
  font-weight: 700;
  font-size: 4rem;
  line-height: 110%;
  text-transform: uppercase;
}

.about-studio__title span:not(:nth-child(2)) {
  padding-left: 57px;
}

.studio-card__link {
  color: var(--text-accent);
  line-height: 140%;
  letter-spacing: -0.48px;
  text-decoration-line: underline;
}

.studio-card__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* /About-studio */

/* Studio-zones */

.studio-zones__title {
  margin-top: 85px;
  color: var(--text-light);
  font-family: 'Steelfish';
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 30px;
}

.studio-zones__title span:nth-child(1) {
  padding-left: 57px;
}

.studio-card__content {
  margin: 0;
  gap: 10px;
  overflow: hidden;
}

/* /Studio-zones */

/* Cards */

.studio-card {
  border-radius: 10px;
  background: var(--text-light);
}

.about-studio__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.studio-card__content {
  padding: 18px 20px 20px 20px;
}

.studio-card__text {
  margin-top: 15px;
  margin-bottom: 12px;
}

.studio-card__cost {
  display: flex;
  transform: rotate(-5deg);
  padding: 5px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--text-accent);
  width: fit-content;
  color: var(--text-light);
  gap: 10px;
}

.studio-zones__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.studio-zones__list {
  list-style-type: none;
}

.studio-card__img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  background-color: none;
}

.studio-card__title {
  font-family: 'Steelfish';
  font-size: 3rem;
  line-height: 110%;
  letter-spacing: 0.6px;
}

.img {
  height: 261px;
  width: 261px;
  width: 100%;
  align-self: stretch;
  border-radius: 10px;
}

/* /Cards */

/* Pre-cost */

.pre-cost__title {
  color: var(--text-light);
  font-family: 'Steelfish';
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
  margin-top: 85px;
  margin-bottom: 36px;
}

.pre-cost__text {
  color: white;
  margin-bottom: 30px;
}

.pre-cost__div {
  border-radius: 10px;
  background: var(--text-light);
  flex-direction: column;
}

.pre-cost__div img {
  border-radius: 10px;
}

.pre-cost__form {
  padding: 0 0;
}



/* Form */

.form {
  padding: 0 20px 20px 20px;
}

.form__fieldset {
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(52, 52, 78, 0.20);
  flex-direction: column;
}

.fieldset__content {
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 10px;
}

.fieldset__label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__question {
  font-weight: 500;
  padding-bottom: 15px;
  padding-top: 18px;
}

fieldset {
  border: 0;
  display: flex;
}

/* /Form */

.pre-cost__result {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 20px;
}

.pre-cost__subtitle {
  font-weight: 500;
  margin-bottom: 15px;
}

.pre-cost__type {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.pre-cost__cost {
  font-family: 'Steelfish';
  font-size: 3rem;
  line-height: 100%;
  letter-spacing: 0.6px;
  margin-bottom: 13px;
}

.pre-cost__text2 {
  color: var(--dark_light, rgba(52, 52, 78, 0.50));
  width: min-content;
}

.pre-cost__btn {
  display: flex;
  padding: 13px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--text-accent);
  color: white;
  font-weight: 500;
  border: 0;
  block-size: fit-content;
  width: 100%;
}

/* /Pre-cost */

/* Studio-equipment */

.studio-equipment__title {
  margin-top: 85px;
  color: var(--text-light);
  font-family: 'Steelfish';
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
}

.studio-equipment__title span:nth-child(1) {
  padding-left: 57px;
}

.studio-equipment__text {
  color: white;
  font-weight: 500;
  padding: 30px 0 25px 0;
}

.studio-equipment__btn {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  background: var(--text-light);
}

/* /Studio-equipment */