* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --text-main: #34344E;
  --text-accent: #F49C89;
  --text-light: #eceef8;
  --text-white: #fff;
}

/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
}

/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v13-cyrillic_latin-500.woff2') format('woff2');
}

/* steelfish-bold - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Steelfish';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/SteelfishRg-Bold.woff2') format('woff2');
}

/* steelfish-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Steelfish';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SteelfishRg-Regular.woff2') format('woff2');
}

/* Form-selectors */

input[type='radio'],
label {
  cursor: pointer;
}

input[type='radio'] {
  position: relative;
  height: 24px;
  width: 24px;
  appearance: none;
  outline: none;
}

input[type='radio']::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--text-light);
  border: 1.5px solid var(--text-accent);
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--text-accent);
}

.form__answer {
  flex-shrink: 0;
}

/* /Form-selectors */

body {
  background-color: var(--text-main);
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  color: var(--text-main);
}

.section {
  padding: 0 20px 0 20px;
  overflow-x: hidden;
}

span {
  display: block;
}

a {
  text-decoration: none;
  color: var(--text-white);
}

.logo {
  color: var(--text-white);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}


/* Header */

.header {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 17px 20px 16px 20px;
  align-items: flex-start;
  position: sticky;
  top: 0;
  background-color: var(--text-main);
  z-index: 100;
}

.header__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.header__list li {
  display: flex;
  align-items: center;
}

.header__menu-btn {
  background-color: var(--text-main);
  border: none;
}

.logo__icon {
  padding-right: 10px;
}

.phone__icon {
  padding-right: 10px;
}

/* /Header */

/* Hero */

.hero {
  padding-top: 82px;
  padding-bottom: 71px;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.hero__title {
  margin: 0;
  color: var(--text-light);
  font-family: 'Steelfish';
  font-size: 5rem;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 20px;
}

.hero__title span:nth-child(2) {
  padding-left: 28px;
}

.hero__title span:nth-child(3) {
  padding-left: 28px;
}

.hero__img2 {
  padding-right: 6px;
}

.hero__text {
  color: var(--text-white);
  margin-bottom: 20px;
}

.hero__btn {
  border-radius: 100px;
  background: var(--text-accent);
  display: flex;
  padding: 13px 30px;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0 auto;
  width: 100%;
  color: var(--text-white);
  font-weight: 500;
  text-transform: uppercase;
}

/* /Hero */

/* About-studio */

.about-studio {
  padding-top: 70px;
}

.about-studio__title {
  margin-bottom: 30px;
  color: var(--text-light);
  font-family: 'Steelfish', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 110%;
  text-transform: uppercase;
}

.about-studio__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.about-studio__title span:not(:nth-child(2)) {
  padding-left: 57px;
}

.studio-card__link {
  color: var(--text-accent);
  line-height: 140%;
  letter-spacing: -0.48px;
  text-decoration-line: underline;
}

.studio-card__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* /About-studio */

/* Studio-zones */

.studio-zones__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.studio-zones__title {
  margin-top: 85px;
  color: var(--text-light);
  font-family: 'Steelfish', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 30px;
}

.studio-zones__title span:nth-child(1) {
  padding-left: 57px;
}

.studio-card__content {
  margin: 0;
  gap: 10px;
  overflow: hidden;
}

/* /Studio-zones */

/* Cards */

.studio-card {
  border-radius: 10px;
  background: var(--text-light);
  flex-shrink: 0;
}

.studio-card__spisok {
  padding-left: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.studio-card__spisok li::marker {
  content: "—   ";
  position: relative;
}

.studio-zones__studio-zone {
  max-width: 261px;
  display: flex;
  flex-direction: column;
}

.about-studio__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.studio-card__content {
  padding: 18px 20px 20px 20px;
}

.studio-card__text {
  margin-top: 15px;
  margin-bottom: 12px;
}

.studio-card__cost {
  display: flex;
  transform: rotate(-5deg);
  padding: 5px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--text-accent);
  width: fit-content;
  color: var(--text-light);
  gap: 10px;
}

.studio-zones__list {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 0 20px;
  overflow: auto;
  margin: 0 -20px;
}

.studio-zones__list::-webkit-scrollbar {
  display: none;
}

.studio-zones__list li:last-child {
  background-color: var(--text-accent);
  color: var(--text-white);
}

.studio-card__content-last {
  padding: 0 20px 0 20px;
  margin-bottom: 146px;
}

.studio-card__img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}

.studio-card__title {
  font-family: 'Steelfish', sans-serif;
  font-size: 3rem;
  line-height: 110%;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
  font-weight: 400;
  padding-top: 18px;
}

.img {
  height: 261px;
  width: 261px;
  width: 100%;
  align-self: stretch;
  border-radius: 10px;
}

.studio-card__list-btn {
  display: flex;
  padding: 13px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: var(--text-main);
  border: 0;
  color: var(--text-white);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  margin: auto auto 20px;
}

/* /Cards */

/* Pre-cost */

.pre-cost__title {
  color: var(--text-light);
  font-family: 'Steelfish', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
  margin-top: 85px;
  margin-bottom: 36px;
}

.pre-cost__text {
  color: var(--text-white);
  margin-bottom: 30px;
}

.pre-cost__div {
  border-radius: 10px;
  background: var(--text-light);
  flex-direction: column;
}

.pre-cost__img {
  width: 100%;
  border-radius: 10px;
}

.pre-cost__form {
  padding: 0 0;
}



/* Form */

.form {
  padding: 0 20px 20px 20px;
}

.form__fieldset {
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(52, 52, 78, 0.20);
  flex-direction: column;
}

.form__content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.form__label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__question {
  font-weight: 500;
  margin-bottom: 15px;
  padding-top: 18px;
}

fieldset {
  border: 0;
  display: flex;
}

/* /Form */

.pre-cost__result {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 20px;
}

.pre-cost__subtitle {
  font-weight: 500;
  margin-bottom: 15px;
}

.pre-cost__type {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.pre-cost__cost {
  font-family: 'Steelfish', sans-serif;
  font-size: 3rem;
  line-height: 100%;
  letter-spacing: 0.6px;
  margin-bottom: 13px;
}

.pre-cost__text2 {
  color: var(--dark_light, rgba(52, 52, 78, 0.50));
  width: min-content;
}

.pre-cost__btn {
  display: flex;
  padding: 13px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--text-accent);
  color: var(--text-white);
  font-weight: 500;
  border: 0;
  block-size: fit-content;
  width: 100%;
  text-transform: uppercase;
}

/* /Pre-cost */

/* Studio-equipment */

.studio-equipment {
  padding-bottom: 42px;
}

.studio-equipment__title {
  margin-top: 85px;
  color: var(--text-light);
  font-family: 'Steelfish', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
}

.studio-equipment__title span:nth-child(1) {
  padding-left: 57px;
}

.studio-equipment__text {
  color: var(--text-white);
  font-weight: 500;
  padding: 30px 0 25px 0;
}

.studio-equipment__list {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.studio-equipment__btn {
  border: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  text-align: left;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  background: var(--text-light);
}

.studio-equipment__btn img {
  border-radius: 10px;
}

/* /Studio-equipment */

/* Studio-workspace */

.studio-workspace {
  padding-top: 43px;
  padding-bottom: 90px;
}

.studio-workspace__title {
  color: var(--text-light);
  font-family: 'Steelfish', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
  padding-bottom: 30px;
}

.studio-workspace__title span:nth-child(1) {
  padding-left: 57px;
}

.studio-workspace__img {
  width: 320px;
  height: 143.947px;
  flex-shrink: 0;
}

/* /Studio-workspace */

/* Test-drive */

.test-drive {
  background-color: var(--text-accent);
  color: var(--text-main);
  padding-top: 85px;
  padding-bottom: 40px;
}

.test-drive__title {
  font-family: 'Steelfish', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
  color: var(--text-light);
}

.test-drive__title span {
  color: var(--text-main);
  padding-left: 57px;
}

.test-drive__text {
  padding-top: 30px;
  padding-bottom: 10px;
}

.test-drive__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}

.test-drive__list li::marker {
  content: "—   ";
  position: relative;
  left: -10px;
}

.test-drive__btn {
  display: inline-flex;
  padding: 13px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: var(--text-main);
  border: 0;
  color: var(--text-white);
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  top: 19px;
}

.test-drive__img {
  object-fit: cover;
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* /Test-drive */

/* Filmed-in */

.filmed-in {
  background-color: var(--text-accent);
  padding-top: 45px;
  padding-bottom: 40px;
}

.filmed-in__title {
  color: var(--text-white);
  font-family: 'Steelfish', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  padding-left: 20px;
}

.filmed-in__list {
  display: flex;
  overflow: auto;
  list-style-type: none;
  gap: 10px;
  padding-left: 20px;
  padding-top: 30px;
}

.filmed-in__list::-webkit-scrollbar {
  display: none;
}

.filmed-in__content {
  position: relative;
  flex-shrink: 0;

}

.yt-icon {
  position: absolute;
  inset: 0;
  margin: auto;
}

.filmed-in__content img {
  border-radius: 10px;
}

/* /Filmed-in */

/* Responsibility */

.our-responsibility {
  background-color: var(--text-accent);
  padding-top: 45px;
  padding-bottom: 40px;
}

.our-responsibility__title {
  color: var(--text-white);
  font-family: 'Steelfish', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 110%;
  padding-bottom: 30px;
}

.our-responsibility__title span {
  color: var(--text-main);
}

.our-responsibility__title span:nth-child(1) {
  padding-left: 57px;
}

.our-responsibility__text {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-bottom: 30px;
}

.our-responsibility__btn {
  color: var(--text-white);
  background-color: var(--text-main);
  font-weight: 500;
  display: inline-flex;
  padding: 13px 30px;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 100px;
  text-transform: uppercase;
}

/* /Responsibility */

/* FAQ */

.FAQ {
  background-color: var(--text-accent);
  padding-top: 45px;
  padding-bottom: 40px;
}

.FAQ__title {
  color: var(--text-white);
  font-family: 'Steelfish', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 110%;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.FAQ__list {
  list-style-type: none;
}

.FAQ__list li {
  border-top: 1px solid rgba(52, 52, 78, 0.20);
  padding-bottom: 18px;
}

.FAQ__list li:last-child {
  border-bottom: 1px solid rgba(52, 52, 78, 0.20);
}

.FAQ__question {
  font-family: 'Steelfish', sans-serif;
  font-size: 3rem;
  line-height: 110%;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
  margin-top: 14px;
}

/* /FAQ */

/* Contact-us */

.contact-us {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: var(--text-accent);
}

.contact-us__title {
  font-family: 'Steelfish', sans-serif;
  color: var(--text-white);
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.contact-us__title span {
  color: var(--text-main);
  padding-left: 57px;
}

.contact-us__map {
  object-fit: cover;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 25px;
}

.contact-us__list {
  list-style-type: none;
  font-weight: 500;
}

.contact-us__text {
  padding-top: 17px;
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(52, 52, 78, 0.20);
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-us__list li:nth-child(1) {
  border-top: 1px solid rgba(52, 52, 78, 0.20);
}

.contact-us a {
  color: var(--text-main);
}

.contact-us__text span {
  opacity: 0.5;
}

/* /Contact-us */

/* Footer */

footer {
  padding: 87px 20px 90px 20px;
}

.footer__grid {
  display: grid;
  grid-template-areas:
    "logo links-row-1 links-row-2"
    "logo messenger social"
    "logo contacts contacts";
  gap: 15px 20px;
  padding-bottom: 30px;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: auto;
  grid-area: logo;
}

.footer__socials {
  display: flex;
  gap: 15px;
}

.footer__links-row {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__links-row.row-1 {
  grid-area: links-row-1;
}

.footer__links-list.row-1 {
  grid-area: links-row-2;
}

.footer__messenger-links {
  grid-area: messenger;
}

.footer__social-media-list {
  grid-area: social;
}

.footer__contacts {
  grid-area: contacts;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__contacts a {
  font-weight: 500;
}

.footer__bottom {
  list-style-type: none;
  border-top: 1px solid rgba(255, 255, 255, 0.20);
  ;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  gap: 15px;
}

.footer__bottom-text {
  color: rgba(255, 255, 255, 0.40);
}

.privacypolicy {
  color: rgba(255, 255, 255, 0.40);
}

.creator {
  color: var(--text-accent);
}

/* /Footer */

/* Media */

.desktop {
  display: none !important;
}

@media screen and (min-width: 768px) {

  .desktop {
    display: inherit !important;
  }

  body {
    font-size: 1.5rem;
  }

  .header__location img {
    padding-right: 10px;
  }

  .hero__title {
    font-size: 8rem;
  }

  .hero__title img {
    display: none;
  }

  .hero__title span {
    display: inline;
  }

}

/* /Media */