:root {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
}

.card {
  align-self: center;
  position: relative;
  perspective: 1000px;
  margin-top: 30px;
  font-size: 3rem;
}

.card__front,
.card__back {
  display: flex;
  align-items: center;
  height: 380px;
  width: 300px;
  background-color: var(--text-accent);
  color: white;
  padding: 16px;
  text-align: center;
  transition: transform 3s cubic-bezier(0.19, 1, 0.22, 1);
  backface-visibility: hidden;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  background-color: #4682B4;
  border-radius: 20px;
}

.card__back {
  position: absolute;
  inset: 0;
  transform: rotateY(180deg);
}

.card:hover .card__front {
  transform: rotateY(-180deg);
}

.card:hover .card__back {
  transform: rotateY(0);
}

.ticker {
  max-width: 100%;
  margin-top: 68px;
}

.ticker__inner {
  display: flex;
  gap: 30px;
  width: max-content;
  animation: ticker 20s linear infinite;
}

.ticker__inner img {
  height: 200px;
  width: 200px;
  border-radius: 40px;
}

@keyframes ticker {
  100% {
    translate: calc(-50% - 16px);
  }
}