ul {
  list-style: none;
  padding-inline-start: 0;
}



.grid-container-1 {
  height: 50vw;
  width: 50vw;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  'red-1     red-1    gray-1  gray-2  gray-3'
  'gray-4    gray-4   gray-5  gray-5  gray-6'
  'gray-7    gray-7   blue-1  blue-1  gray-6'
  'black-1   black-1  blue-1  blue-1  yellow-1'
  'yellow-2  gray-8   red-2   red-2   yellow-1'
  'yellow-2  gray-8   red-2   red-2   gray-9';
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  clip-path: inset(0.5vw 5vw 4vw 0 round 30px);
}
.grid-container-1 .block {
  border: 0.5vw solid black;
}
.gray-1, .gray-2, .gray-3, .gray-4, .gray-5, .gray-6, .gray-7, .gray-8, .gray-9 {
  background: #f3f3f3;
}
.red-1, .red-2 {
  background: #d50605;
}
.yellow-1, .yellow-2 {
  background: #e6cc01;
}
.blue-1 {
  background: #0062a8;
}
.black-1 {
  background: black;
}
.white-1 {
  background: white;
}
.gray-1 {
  grid-area: gray-1;
}
.gray-2 {
  grid-area: gray-2;
}
.gray-3 {
  grid-area: gray-3;
}
.gray-4 {
  grid-area: gray-4;
  border-left: 1vw solid black !important;
}
.gray-5 {
  grid-area: gray-5;
}
.gray-6 {
  grid-area: gray-6;
}
.gray-7 {
  grid-area: gray-7;
  border-left: 1vw solid black !important;
}
.gray-8 {
  grid-area: gray-8;
}
.gray-9 {
  grid-area: gray-9;
}
.red-1 {
  grid-area: red-1;
  border-left: none !important;
}
.red-2 {
  grid-area: red-2;
}
.yellow-1 {
  grid-area: yellow-1;
}
.yellow-2 {
  grid-area: yellow-2;
  border-left: 1vw solid black !important;
}
.blue-1 {
  grid-area: blue-1;
}
.black-1 {
  grid-area: black-1;
  border-left: 1vw solid black !important;
}



.grid-container-2 {
  height: 45vw;
  width: 95%;
  margin: 50px auto;
  background: rgb(182, 235, 85);
  border-radius: 25px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.grid-container-2 .dashboard {
  background: rgb(230, 186, 42);
  grid-column: 1;
}
.grid-container-2 .graphic-board {
  grid-column: 2 / 7;
  margin: 2% 4%;
  display: grid;
  grid-template-areas: 
  'graphic-1 graphic-1 graphic-1 graphic-1 graphic-1 graphic-1'
  'graphic-2 graphic-2 graphic-3 graphic-3 graphic-4 graphic-4'
  'graphic-5 graphic-5 graphic-5 graphic-6 graphic-6 graphic-6';
  grid-auto-rows: 1fr;
  gap: 2vw 5vw;
}
.grid-container-2 .graphic {
  background: rgb(255, 255, 255);
  border-radius: 25px;
  overflow: hidden;
}
.grid-container-2 .graphic-1 {
  grid-area: graphic-1;
}
.grid-container-2 .graphic-2 {
  grid-area: graphic-2;
}
.grid-container-2 .graphic-3 {
  grid-area: graphic-3;
}
.grid-container-2 .graphic-4 {
  grid-area: graphic-4;
}
.grid-container-2 .graphic-5 {
  grid-area: graphic-5;
}
.grid-container-2 .graphic-6 {
  grid-area: graphic-6;
}
.grid-container-2 .magicpattern-1 { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 500 250%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 250h5.714v-59.049H0ZM7.143 250h5.714V135.116H7.143ZM14.286 250H20V34.916h-5.714ZM21.429 250h5.714V59.79h-5.714ZM28.571 250h5.715V129.456H28.57ZM35.714 250h5.715V79.493h-5.715ZM42.857 250h5.714v-93.865h-5.714ZM50 250h5.714V75.518H50ZM57.143 250h5.714v-76.53h-5.714ZM64.286 250H70V140.22h-5.714ZM71.429 250h5.714v-82.579h-5.714ZM78.571 250h5.715V57.734H78.57ZM85.714 250h5.715v-74.721h-5.715ZM92.857 250h5.714V53.002h-5.714ZM100 250h5.714V112.436H100ZM107.143 250h5.714v-99.435h-5.714ZM114.286 250H120V62.006h-5.714ZM121.429 250h5.714V46.445h-5.714ZM128.571 250h5.715v-79.368h-5.715ZM135.714 250h5.715v-79.942h-5.715ZM142.857 250h5.714V102.52h-5.714ZM150 250h5.714V122.69H150ZM157.143 250h5.714V39.436h-5.714ZM164.286 250H170V45.871h-5.714ZM171.429 250h5.714v-88.946h-5.714ZM178.571 250h5.715V107.489h-5.715ZM185.714 250h5.715v-96.488h-5.715ZM192.857 250h5.714V60.912h-5.714ZM200 250h5.714V61.865H200ZM207.143 250h5.714V74.047h-5.714ZM214.286 250H220V54.08h-5.714ZM221.429 250h5.714V33.489h-5.714ZM228.571 250h5.715v-92.542h-5.715ZM235.714 250h5.715V32.724h-5.715ZM242.857 250h5.714V29.77h-5.714ZM250 250h5.714v-60.875H250ZM257.143 250h5.714v-63.804h-5.714ZM264.286 250H270V100.734h-5.714ZM271.429 250h5.714V107.406h-5.714ZM278.571 250h5.715V116.316h-5.715ZM285.714 250h5.715V112.681h-5.715ZM292.857 250h5.714V100.863h-5.714ZM300 250h5.714V26.839H300ZM307.143 250h5.714V98.524h-5.714ZM314.286 250H320V99.618h-5.714ZM321.429 250h5.714V111.5h-5.714ZM328.571 250h5.715V119.252h-5.715ZM335.714 250h5.715v-50.708h-5.715ZM342.857 250h5.714V128.275h-5.714ZM350 250h5.714v-76.404H350ZM357.143 250h5.714V40.404h-5.714ZM364.286 250H370v-81.066h-5.714ZM371.429 250h5.714V117.901h-5.714ZM378.571 250h5.715V120.592h-5.715ZM385.714 250h5.715V135.713h-5.715ZM392.857 250h5.714V33.272h-5.714ZM400 250h5.714V40.25H400ZM407.143 250h5.714V25.44h-5.714ZM414.286 250H420v-68.86h-5.714ZM421.429 250h5.714v-72.715h-5.714ZM428.571 250h5.715V45.373h-5.715ZM435.714 250h5.715V94.893h-5.715ZM442.857 250h5.714V136.257h-5.714ZM450 250h5.714v-67.29H450ZM457.143 250h5.714V149.145h-5.714ZM464.286 250H470V85.593h-5.714ZM471.429 250h5.714V57.77h-5.714ZM478.571 250h5.715V129.318h-5.715ZM485.714 250h5.715v-89.248h-5.715ZM492.857 250h5.714V101.683h-5.714Z%22 fill=%22%23444cf7%22%2F%3E%3C%2Fsvg%3E");
}




.grid-container-2 .magicpattern-2 { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 16.019c21 3.94 63 5.094 105 19.704s63 34.769 105 53.349 63 20.238 105 39.552 63 54.835 105 57.018 63-67.837 105-46.104c42 21.734 63 120.255 105 154.772 42 34.518 63 13.995 105 17.817 42 3.821 63-16.796 105 1.292 42 18.089 63 55.527 105 89.15 42 33.623 63 46.438 105 78.965 42 32.526 63 73.901 105 83.666 42 9.764 63-25.336 105-34.845 42-9.51 63-44.845 105-12.703 42 32.143 63 185.949 105 173.416 42-12.533 63-216.431 105-236.08 42-19.65 63 89.378 105 137.835 42 48.456 63 75.8 105 104.449s63 42.407 105 38.796c42-3.61 84-45.482 105-56.852l5 320.784H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 16.019c21 3.94 63 5.094 105 19.704s63 34.769 105 53.349 63 20.238 105 39.552 63 54.835 105 57.018 63-67.837 105-46.104c42 21.734 63 120.255 105 154.772 42 34.518 63 13.995 105 17.817 42 3.821 63-16.796 105 1.292 42 18.089 63 55.527 105 89.15 42 33.623 63 46.438 105 78.965 42 32.526 63 73.901 105 83.666 42 9.764 63-25.336 105-34.845 42-9.51 63-44.845 105-12.703 42 32.143 63 185.949 105 173.416 42-12.533 63-216.431 105-236.08 42-19.65 63 89.378 105 137.835 42 48.456 63 75.8 105 104.449s63 42.407 105 38.796c42-3.61 84-45.482 105-56.852%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%224%22%2F%3E%3Cg fill=%22%23444cf7%22%3E%3Ccircle cy=%2216.019%22 r=%228%22%2F%3E%3Ccircle cx=%22105%22 cy=%2235.723%22 r=%228%22%2F%3E%3Ccircle cx=%22210%22 cy=%2289.072%22 r=%228%22%2F%3E%3Ccircle cx=%22315%22 cy=%22128.624%22 r=%228%22%2F%3E%3Ccircle cx=%22420%22 cy=%22185.642%22 r=%228%22%2F%3E%3Ccircle cx=%22525%22 cy=%22139.538%22 r=%228%22%2F%3E%3Ccircle cx=%22630%22 cy=%22294.31%22 r=%228%22%2F%3E%3Ccircle cx=%22735%22 cy=%22312.127%22 r=%228%22%2F%3E%3Ccircle cx=%22840%22 cy=%22313.419%22 r=%228%22%2F%3E%3Ccircle cx=%22945%22 cy=%22402.569%22 r=%228%22%2F%3E%3Ccircle cx=%221050%22 cy=%22481.534%22 r=%228%22%2F%3E%3Ccircle cx=%221155%22 cy=%22565.2%22 r=%228%22%2F%3E%3Ccircle cx=%221260%22 cy=%22530.355%22 r=%228%22%2F%3E%3Ccircle cx=%221365%22 cy=%22517.652%22 r=%228%22%2F%3E%3Ccircle cx=%221470%22 cy=%22691.068%22 r=%228%22%2F%3E%3Ccircle cx=%221575%22 cy=%22454.988%22 r=%228%22%2F%3E%3Ccircle cx=%221680%22 cy=%22592.823%22 r=%228%22%2F%3E%3Ccircle cx=%221785%22 cy=%22697.272%22 r=%228%22%2F%3E%3Ccircle cx=%221890%22 cy=%22736.068%22 r=%228%22%2F%3E%3Ccircle cx=%221995%22 cy=%22679.216%22 r=%228%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}


.grid-container-2 .magicpattern-3 { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 1000h80v-.434q0-4-4-4H4q-4 0-4 4ZM100 1000h80v-32.711q0-4-4-4h-72q-4 0-4 4ZM200 1000h80v-65.491q0-4-4-4h-72q-4 0-4 4ZM300 1000h80V883.7q0-4-4-4h-72q-4 0-4 4ZM400 1000h80V884.49q0-4-4-4h-72q-4 0-4 4ZM500 1000h80V842.212q0-4-4-4h-72q-4 0-4 4ZM600 1000h80V783.291q0-4-4-4h-72q-4 0-4 4ZM700 1000h80V727.545q0-4-4-4h-72q-4 0-4 4ZM800 1000h80V650.516q0-4-4-4h-72q-4 0-4 4ZM900 1000h80V697.742q0-4-4-4h-72q-4 0-4 4ZM1000 1000h80V735.887q0-4-4-4h-72q-4 0-4 4ZM1100 1000h80V643.696q0-4-4-4h-72q-4 0-4 4ZM1200 1000h80V506.671q0-4-4-4h-72q-4 0-4 4ZM1300 1000h80V637.484q0-4-4-4h-72q-4 0-4 4ZM1400 1000h80V355.803q0-4-4-4h-72q-4 0-4 4ZM1500 1000h80V293.724q0-4-4-4h-72q-4 0-4 4ZM1600 1000h80V488.976q0-4-4-4h-72q-4 0-4 4ZM1700 1000h80V339.58q0-4-4-4h-72q-4 0-4 4ZM1800 1000h80V137.168q0-4-4-4h-72q-4 0-4 4ZM1900 1000h80V243.905q0-4-4-4h-72q-4 0-4 4Z%22 fill=%22%23444cf7%22%2F%3E%3C%2Fsvg%3E");
}
.grid-container-2 .magicpattern-4 { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 541.744c1.74-25.51 25.52-424.843 29-425.182 3.48-.338 25.52 416.652 29 419.538 3.48 2.886 25.52-356.89 29-371.435 3.48-14.544 25.52 113.45 29 129.03 3.48 15.578 25.52 101.147 29 130.613 3.48 29.467 25.52 356.706 29 360.496 3.48 3.79 25.52-294.234 29-297.324 3.48-3.09 25.52 251.297 29 245.816 3.48-5.48 25.52-320.195 29-337.167 3.48-16.971 25.52 45.148 29 54.308 3.48 9.16 25.52 102.174 29 98.36 3.48-3.815 25.52-142.2 29-161.932 3.48-19.732 25.52-174.083 29-166.939 3.48 7.144 25.52 260.084 29 286.002 3.48 25.918 25.52 145.409 29 145.967 3.48.558 25.52-104.185 29-136.666 3.48-32.48 25.52-400.016 29-404.671 3.48-4.655 25.52 313.42 29 327.085 3.48 13.663 25.52-95.825 29-99.357 3.48-3.531 25.52 27.697 29 40.496 3.48 12.798 25.52 174.322 29 172.814 3.48-1.508 25.52-210.512 29-197.947 3.48 12.564 25.52 398.296 29 407.356 3.48 9.06 25.52-253.432 29-256.352 3.48-2.92 25.52 215.005 29 207.692 3.48-7.312 25.52-305.544 29-329.568 3.48-24.025 25.52-84.055 29-70.84 3.48 13.216 25.52 267.345 29 291.097 3.48 23.751 25.52 124.401 29 104.762 3.48-19.64 25.52-427.353 29-432.08 3.48-4.727 25.52 359.933 29 353.298 3.48-6.635 25.52-435.239 29-463.883 3.48-28.645 25.52-47.109 29-13.528 3.48 33.581 25.52 556.766 29 573.209 3.48 16.442 25.52-285.332 29-299.163 3.48-13.832 25.52 82.217 29 68.637 3.48-13.58 25.52-299.56 29-294.973 3.48 4.586 25.52 347.885 29 371.408 3.48 23.523 25.52 35.108 29 20.64 3.48-14.47 25.52-258.33 29-261.786 3.48-3.457 25.52 198.729 29 204.171 3.48 5.442 25.52-97.872 29-113.466 3.48-15.595 25.52-134.281 29-146.436 3.48-12.154 25.52-82.504 29-56.141 3.48 26.362 25.52 467.467 29 495.52 3.48 28.053 25.52-14.414 29-27.97 3.48-13.557 25.52-193.089 29-197.975 3.48-4.887 25.52 125.175 29 116.531 3.48-8.643 25.52-260.883 29-260.595 3.48.287 25.52 279.562 29 265.383 3.48-14.18 25.52-496.83 29-501.713 3.48-4.882 25.52 405.817 29 420.345 3.48 14.528 25.52-168.055 29-178.211 3.48-10.157 25.52-14.604 29 8.935 3.48 23.54 25.52 366.87 29 383.385 3.48 16.515 25.52-94.805 29-108.143 3.48-13.339 25.52-113.127 29-114.163 3.48-1.035 25.52 117.935 29 96.904 3.48-21.03 25.52-426.46 29-447.414 3.48-20.956 25.52 79.78 29 98.16 3.48 18.381 25.52 214.82 29 208.188 3.48-6.63 25.52-333.354 29-318.702 3.48 14.651 25.52 542.516 29 562.893 3.48 20.376 25.52-221.655 29-223.284 3.48-1.628 25.52 203.925 29 196.143 3.48-7.783 25.52-297.988 29-325.853 3.48-27.865 25.52-147.62 29-138.565 3.48 9.055 25.52 286.775 29 289.471 3.48 2.696 27.26-229.862 29-244.534L2000 1000H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 541.744c1.74-25.51 25.52-424.843 29-425.182 3.48-.338 25.52 416.652 29 419.538 3.48 2.886 25.52-356.89 29-371.435 3.48-14.544 25.52 113.45 29 129.03 3.48 15.578 25.52 101.147 29 130.613 3.48 29.467 25.52 356.706 29 360.496 3.48 3.79 25.52-294.234 29-297.324 3.48-3.09 25.52 251.297 29 245.816 3.48-5.48 25.52-320.195 29-337.167 3.48-16.971 25.52 45.148 29 54.308 3.48 9.16 25.52 102.174 29 98.36 3.48-3.815 25.52-142.2 29-161.932 3.48-19.732 25.52-174.083 29-166.939 3.48 7.144 25.52 260.084 29 286.002 3.48 25.918 25.52 145.409 29 145.967 3.48.558 25.52-104.185 29-136.666 3.48-32.48 25.52-400.016 29-404.671 3.48-4.655 25.52 313.42 29 327.085 3.48 13.663 25.52-95.825 29-99.357 3.48-3.531 25.52 27.697 29 40.496 3.48 12.798 25.52 174.322 29 172.814 3.48-1.508 25.52-210.512 29-197.947 3.48 12.564 25.52 398.296 29 407.356 3.48 9.06 25.52-253.432 29-256.352 3.48-2.92 25.52 215.005 29 207.692 3.48-7.312 25.52-305.544 29-329.568 3.48-24.025 25.52-84.055 29-70.84 3.48 13.216 25.52 267.345 29 291.097 3.48 23.751 25.52 124.401 29 104.762 3.48-19.64 25.52-427.353 29-432.08 3.48-4.727 25.52 359.933 29 353.298 3.48-6.635 25.52-435.239 29-463.883 3.48-28.645 25.52-47.109 29-13.528 3.48 33.581 25.52 556.766 29 573.209 3.48 16.442 25.52-285.332 29-299.163 3.48-13.832 25.52 82.217 29 68.637 3.48-13.58 25.52-299.56 29-294.973 3.48 4.586 25.52 347.885 29 371.408 3.48 23.523 25.52 35.108 29 20.64 3.48-14.47 25.52-258.33 29-261.786 3.48-3.457 25.52 198.729 29 204.171 3.48 5.442 25.52-97.872 29-113.466 3.48-15.595 25.52-134.281 29-146.436 3.48-12.154 25.52-82.504 29-56.141 3.48 26.362 25.52 467.467 29 495.52 3.48 28.053 25.52-14.414 29-27.97 3.48-13.557 25.52-193.089 29-197.975 3.48-4.887 25.52 125.175 29 116.531 3.48-8.643 25.52-260.883 29-260.595 3.48.287 25.52 279.562 29 265.383 3.48-14.18 25.52-496.83 29-501.713 3.48-4.882 25.52 405.817 29 420.345 3.48 14.528 25.52-168.055 29-178.211 3.48-10.157 25.52-14.604 29 8.935 3.48 23.54 25.52 366.87 29 383.385 3.48 16.515 25.52-94.805 29-108.143 3.48-13.339 25.52-113.127 29-114.163 3.48-1.035 25.52 117.935 29 96.904 3.48-21.03 25.52-426.46 29-447.414 3.48-20.956 25.52 79.78 29 98.16 3.48 18.381 25.52 214.82 29 208.188 3.48-6.63 25.52-333.354 29-318.702 3.48 14.651 25.52 542.516 29 562.893 3.48 20.376 25.52-221.655 29-223.284 3.48-1.628 25.52 203.925 29 196.143 3.48-7.783 25.52-297.988 29-325.853 3.48-27.865 25.52-147.62 29-138.565 3.48 9.055 25.52 286.775 29 289.471 3.48 2.696 27.26-229.862 29-244.534%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%224%22%2F%3E%3Cg fill=%22%23444cf7%22%3E%3Ccircle cy=%22541.744%22 r=%228%22%2F%3E%3Ccircle cx=%2229%22 cy=%22116.562%22 r=%228%22%2F%3E%3Ccircle cx=%2258%22 cy=%22536.1%22 r=%228%22%2F%3E%3Ccircle cx=%2287%22 cy=%22164.665%22 r=%228%22%2F%3E%3Ccircle cx=%22116%22 cy=%22293.694%22 r=%228%22%2F%3E%3Ccircle cx=%22145%22 cy=%22424.308%22 r=%228%22%2F%3E%3Ccircle cx=%22174%22 cy=%22784.804%22 r=%228%22%2F%3E%3Ccircle cx=%22203%22 cy=%22487.48%22 r=%228%22%2F%3E%3Ccircle cx=%22232%22 cy=%22733.296%22 r=%228%22%2F%3E%3Ccircle cx=%22261%22 cy=%22396.129%22 r=%228%22%2F%3E%3Ccircle cx=%22290%22 cy=%22450.437%22 r=%228%22%2F%3E%3Ccircle cx=%22319%22 cy=%22548.796%22 r=%228%22%2F%3E%3Ccircle cx=%22348%22 cy=%22386.865%22 r=%228%22%2F%3E%3Ccircle cx=%22377%22 cy=%22219.926%22 r=%228%22%2F%3E%3Ccircle cx=%22406%22 cy=%22505.928%22 r=%228%22%2F%3E%3Ccircle cx=%22435%22 cy=%22651.895%22 r=%228%22%2F%3E%3Ccircle cx=%22464%22 cy=%22515.229%22 r=%228%22%2F%3E%3Ccircle cx=%22493%22 cy=%22110.558%22 r=%228%22%2F%3E%3Ccircle cx=%22522%22 cy=%22437.643%22 r=%228%22%2F%3E%3Ccircle cx=%22551%22 cy=%22338.286%22 r=%228%22%2F%3E%3Ccircle cx=%22580%22 cy=%22378.782%22 r=%228%22%2F%3E%3Ccircle cx=%22609%22 cy=%22551.596%22 r=%228%22%2F%3E%3Ccircle cx=%22638%22 cy=%22353.649%22 r=%228%22%2F%3E%3Ccircle cx=%22667%22 cy=%22761.005%22 r=%228%22%2F%3E%3Ccircle cx=%22696%22 cy=%22504.653%22 r=%228%22%2F%3E%3Ccircle cx=%22725%22 cy=%22712.345%22 r=%228%22%2F%3E%3Ccircle cx=%22754%22 cy=%22382.777%22 r=%228%22%2F%3E%3Ccircle cx=%22783%22 cy=%22311.938%22 r=%228%22%2F%3E%3Ccircle cx=%22812%22 cy=%22603.034%22 r=%228%22%2F%3E%3Ccircle cx=%22841%22 cy=%22707.796%22 r=%228%22%2F%3E%3Ccircle cx=%22870%22 cy=%22275.716%22 r=%228%22%2F%3E%3Ccircle cx=%22899%22 cy=%22629.014%22 r=%228%22%2F%3E%3Ccircle cx=%22928%22 cy=%22165.131%22 r=%228%22%2F%3E%3Ccircle cx=%22957%22 cy=%22151.603%22 r=%228%22%2F%3E%3Ccircle cx=%22986%22 cy=%22724.812%22 r=%228%22%2F%3E%3Ccircle cx=%221015%22 cy=%22425.649%22 r=%228%22%2F%3E%3Ccircle cx=%221044%22 cy=%22494.286%22 r=%228%22%2F%3E%3Ccircle cx=%221073%22 cy=%22199.313%22 r=%228%22%2F%3E%3Ccircle cx=%221102%22 cy=%22570.721%22 r=%228%22%2F%3E%3Ccircle cx=%221131%22 cy=%22591.361%22 r=%228%22%2F%3E%3Ccircle cx=%221160%22 cy=%22329.575%22 r=%228%22%2F%3E%3Ccircle cx=%221189%22 cy=%22533.746%22 r=%228%22%2F%3E%3Ccircle cx=%221218%22 cy=%22420.28%22 r=%228%22%2F%3E%3Ccircle cx=%221247%22 cy=%22273.844%22 r=%228%22%2F%3E%3Ccircle cx=%221276%22 cy=%22217.703%22 r=%228%22%2F%3E%3Ccircle cx=%221305%22 cy=%22713.223%22 r=%228%22%2F%3E%3Ccircle cx=%221334%22 cy=%22685.253%22 r=%228%22%2F%3E%3Ccircle cx=%221363%22 cy=%22487.278%22 r=%228%22%2F%3E%3Ccircle cx=%221392%22 cy=%22603.809%22 r=%228%22%2F%3E%3Ccircle cx=%221421%22 cy=%22343.214%22 r=%228%22%2F%3E%3Ccircle cx=%221450%22 cy=%22608.597%22 r=%228%22%2F%3E%3Ccircle cx=%221479%22 cy=%22106.884%22 r=%228%22%2F%3E%3Ccircle cx=%221508%22 cy=%22527.229%22 r=%228%22%2F%3E%3Ccircle cx=%221537%22 cy=%22349.018%22 r=%228%22%2F%3E%3Ccircle cx=%221566%22 cy=%22357.953%22 r=%228%22%2F%3E%3Ccircle cx=%221595%22 cy=%22741.338%22 r=%228%22%2F%3E%3Ccircle cx=%221624%22 cy=%22633.195%22 r=%228%22%2F%3E%3Ccircle cx=%221653%22 cy=%22519.032%22 r=%228%22%2F%3E%3Ccircle cx=%221682%22 cy=%22615.936%22 r=%228%22%2F%3E%3Ccircle cx=%221711%22 cy=%22168.522%22 r=%228%22%2F%3E%3Ccircle cx=%221740%22 cy=%22266.682%22 r=%228%22%2F%3E%3Ccircle cx=%221769%22 cy=%22474.87%22 r=%228%22%2F%3E%3Ccircle cx=%221798%22 cy=%22156.168%22 r=%228%22%2F%3E%3Ccircle cx=%221827%22 cy=%22719.061%22 r=%228%22%2F%3E%3Ccircle cx=%221856%22 cy=%22495.777%22 r=%228%22%2F%3E%3Ccircle cx=%221885%22 cy=%22691.92%22 r=%228%22%2F%3E%3Ccircle cx=%221914%22 cy=%22366.067%22 r=%228%22%2F%3E%3Ccircle cx=%221943%22 cy=%22227.502%22 r=%228%22%2F%3E%3Ccircle cx=%221972%22 cy=%22516.973%22 r=%228%22%2F%3E%3Ccircle cx=%222001%22 cy=%22272.439%22 r=%228%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.grid-container-2 .magicpattern-5 { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 296.194c14.2 15.91 42.6 66.818 71 79.553s42.6-35.516 71-15.879 42.6 141.928 71 114.063c28.4-27.865 42.6-200.118 71-253.388 28.4-53.27 42.6-15.805 71-12.964 28.4 2.842 42.6-82.55 71 27.173 28.4 109.724 42.6 438.247 71 521.446 28.4 83.2 42.6 23.655 71-105.451 28.4-129.107 42.6-561.669 71-540.081 28.4 21.587 42.6 566.678 71 648.018 28.4 81.34 42.6-208.863 71-241.316s42.6 147.275 71 79.051c28.4-68.223 42.6-417.608 71-420.17 28.4-2.561 42.6 291.78 71 407.362 28.4 115.582 42.6 239.707 71 170.551 28.4-69.155 42.6-484.08 71-516.329 28.4-32.249 42.6 282.317 71 355.082 28.4 72.765 42.6 5.806 71 8.745 28.4 2.94 42.6 44.744 71 5.953 28.4-38.792 42.6-189.755 71-199.912 28.4-10.156 42.6 122.174 71 149.128 28.4 26.954 42.6 60.337 71-14.357s42.6-288.102 71-359.112c28.4-71.01 42.6-49.309 71 4.064 28.4 53.374 42.6 183.013 71 262.802 28.4 79.79 42.6 205.027 71 136.145 28.4-68.882 42.6-483.882 71-480.554 28.4 3.328 56.8 397.754 71 497.193l12 396.99H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 296.194c14.2 15.91 42.6 66.818 71 79.553s42.6-35.516 71-15.879 42.6 141.928 71 114.063c28.4-27.865 42.6-200.118 71-253.388 28.4-53.27 42.6-15.805 71-12.964 28.4 2.842 42.6-82.55 71 27.173 28.4 109.724 42.6 438.247 71 521.446 28.4 83.2 42.6 23.655 71-105.451 28.4-129.107 42.6-561.669 71-540.081 28.4 21.587 42.6 566.678 71 648.018 28.4 81.34 42.6-208.863 71-241.316s42.6 147.275 71 79.051c28.4-68.223 42.6-417.608 71-420.17 28.4-2.561 42.6 291.78 71 407.362 28.4 115.582 42.6 239.707 71 170.551 28.4-69.155 42.6-484.08 71-516.329 28.4-32.249 42.6 282.317 71 355.082 28.4 72.765 42.6 5.806 71 8.745 28.4 2.94 42.6 44.744 71 5.953 28.4-38.792 42.6-189.755 71-199.912 28.4-10.156 42.6 122.174 71 149.128 28.4 26.954 42.6 60.337 71-14.357s42.6-288.102 71-359.112c28.4-71.01 42.6-49.309 71 4.064 28.4 53.374 42.6 183.013 71 262.802 28.4 79.79 42.6 205.027 71 136.145 28.4-68.882 42.6-483.882 71-480.554 28.4 3.328 56.8 397.754 71 497.193%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%226%22%2F%3E%3Cg fill=%22%23444cf7%22%3E%3Ccircle cy=%22296.194%22 r=%2212%22%2F%3E%3Ccircle cx=%2271%22 cy=%22375.747%22 r=%2212%22%2F%3E%3Ccircle cx=%22142%22 cy=%22359.868%22 r=%2212%22%2F%3E%3Ccircle cx=%22213%22 cy=%22473.931%22 r=%2212%22%2F%3E%3Ccircle cx=%22284%22 cy=%22220.543%22 r=%2212%22%2F%3E%3Ccircle cx=%22355%22 cy=%22207.579%22 r=%2212%22%2F%3E%3Ccircle cx=%22426%22 cy=%22234.752%22 r=%2212%22%2F%3E%3Ccircle cx=%22497%22 cy=%22756.198%22 r=%2212%22%2F%3E%3Ccircle cx=%22568%22 cy=%22650.747%22 r=%2212%22%2F%3E%3Ccircle cx=%22639%22 cy=%22110.666%22 r=%2212%22%2F%3E%3Ccircle cx=%22710%22 cy=%22758.684%22 r=%2212%22%2F%3E%3Ccircle cx=%22781%22 cy=%22517.368%22 r=%2212%22%2F%3E%3Ccircle cx=%22852%22 cy=%22596.419%22 r=%2212%22%2F%3E%3Ccircle cx=%22923%22 cy=%22176.25%22 r=%2212%22%2F%3E%3Ccircle cx=%22994%22 cy=%22583.611%22 r=%2212%22%2F%3E%3Ccircle cx=%221065%22 cy=%22754.162%22 r=%2212%22%2F%3E%3Ccircle cx=%221136%22 cy=%22237.833%22 r=%2212%22%2F%3E%3Ccircle cx=%221207%22 cy=%22592.915%22 r=%2212%22%2F%3E%3Ccircle cx=%221278%22 cy=%22601.66%22 r=%2212%22%2F%3E%3Ccircle cx=%221349%22 cy=%22607.613%22 r=%2212%22%2F%3E%3Ccircle cx=%221420%22 cy=%22407.701%22 r=%2212%22%2F%3E%3Ccircle cx=%221491%22 cy=%22556.829%22 r=%2212%22%2F%3E%3Ccircle cx=%221562%22 cy=%22542.472%22 r=%2212%22%2F%3E%3Ccircle cx=%221633%22 cy=%22183.36%22 r=%2212%22%2F%3E%3Ccircle cx=%221704%22 cy=%22187.424%22 r=%2212%22%2F%3E%3Ccircle cx=%221775%22 cy=%22450.226%22 r=%2212%22%2F%3E%3Ccircle cx=%221846%22 cy=%22586.371%22 r=%2212%22%2F%3E%3Ccircle cx=%221917%22 cy=%22105.817%22 r=%2212%22%2F%3E%3Ccircle cx=%221988%22 cy=%22603.01%22 r=%2212%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.grid-container-2 .magicpattern-6 { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 641.972c14.2 8.635 42.6 95.747 71 43.171 28.4-52.575 42.6-241.776 71-306.05 28.4-64.273 42.6-30.137 71-15.319s42.6 7.487 71 89.408 42.6 377.97 71 320.199c28.4-57.771 42.6-546.933 71-609.054 28.4-62.12 42.6 267.286 71 298.45 28.4 31.162 42.6-108.24 71-142.636s42.6-64.25 71-29.346c28.4 34.903 42.6 103.566 71 203.865 28.4 100.3 42.6 331.441 71 297.629 28.4-33.813 42.6-409.913 71-466.691 28.4-56.778 42.6 179.227 71 182.803 28.4 3.576 42.6-221.014 71-164.923 28.4 56.09 42.6 434.68 71 445.374 28.4 10.693 42.6-265.174 71-391.91 28.4-126.734 42.6-320.85 71-241.765 28.4 79.085 42.6 545.612 71 637.19 28.4 91.577 42.6-66.18 71-179.302 28.4-113.122 42.6-308.013 71-386.307 28.4-78.293 42.6-14.067 71-5.16s42.6 59.232 71 49.697c28.4-9.535 42.6-72.726 71-97.371 28.4-24.646 42.6-116.76 71-25.855s42.6 393.704 71 480.38c28.4 86.677 42.6-7.732 71-47s42.6-60.275 71-149.34c28.4-89.063 56.8-236.784 71-295.98L2000 1000H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 641.972c14.2 8.635 42.6 95.747 71 43.171 28.4-52.575 42.6-241.776 71-306.05 28.4-64.273 42.6-30.137 71-15.319s42.6 7.487 71 89.408 42.6 377.97 71 320.199c28.4-57.771 42.6-546.933 71-609.054 28.4-62.12 42.6 267.286 71 298.45 28.4 31.162 42.6-108.24 71-142.636s42.6-64.25 71-29.346c28.4 34.903 42.6 103.566 71 203.865 28.4 100.3 42.6 331.441 71 297.629 28.4-33.813 42.6-409.913 71-466.691 28.4-56.778 42.6 179.227 71 182.803 28.4 3.576 42.6-221.014 71-164.923 28.4 56.09 42.6 434.68 71 445.374 28.4 10.693 42.6-265.174 71-391.91 28.4-126.734 42.6-320.85 71-241.765 28.4 79.085 42.6 545.612 71 637.19 28.4 91.577 42.6-66.18 71-179.302 28.4-113.122 42.6-308.013 71-386.307 28.4-78.293 42.6-14.067 71-5.16s42.6 59.232 71 49.697c28.4-9.535 42.6-72.726 71-97.371 28.4-24.646 42.6-116.76 71-25.855s42.6 393.704 71 480.38c28.4 86.677 42.6-7.732 71-47s42.6-60.275 71-149.34c28.4-89.063 56.8-236.784 71-295.98%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%226%22%2F%3E%3Cg fill=%22%23444cf7%22%3E%3Ccircle cy=%22641.972%22 r=%2212%22%2F%3E%3Ccircle cx=%2271%22 cy=%22685.143%22 r=%2212%22%2F%3E%3Ccircle cx=%22142%22 cy=%22379.093%22 r=%2212%22%2F%3E%3Ccircle cx=%22213%22 cy=%22363.774%22 r=%2212%22%2F%3E%3Ccircle cx=%22284%22 cy=%22453.182%22 r=%2212%22%2F%3E%3Ccircle cx=%22355%22 cy=%22773.381%22 r=%2212%22%2F%3E%3Ccircle cx=%22426%22 cy=%22164.327%22 r=%2212%22%2F%3E%3Ccircle cx=%22497%22 cy=%22462.776%22 r=%2212%22%2F%3E%3Ccircle cx=%22568%22 cy=%22320.141%22 r=%2212%22%2F%3E%3Ccircle cx=%22639%22 cy=%22290.795%22 r=%2212%22%2F%3E%3Ccircle cx=%22710%22 cy=%22494.66%22 r=%2212%22%2F%3E%3Ccircle cx=%22781%22 cy=%22792.289%22 r=%2212%22%2F%3E%3Ccircle cx=%22852%22 cy=%22325.598%22 r=%2212%22%2F%3E%3Ccircle cx=%22923%22 cy=%22508.401%22 r=%2212%22%2F%3E%3Ccircle cx=%22994%22 cy=%22343.478%22 r=%2212%22%2F%3E%3Ccircle cx=%221065%22 cy=%22788.852%22 r=%2212%22%2F%3E%3Ccircle cx=%221136%22 cy=%22396.943%22 r=%2212%22%2F%3E%3Ccircle cx=%221207%22 cy=%22155.177%22 r=%2212%22%2F%3E%3Ccircle cx=%221278%22 cy=%22792.367%22 r=%2212%22%2F%3E%3Ccircle cx=%221349%22 cy=%22613.065%22 r=%2212%22%2F%3E%3Ccircle cx=%221420%22 cy=%22226.758%22 r=%2212%22%2F%3E%3Ccircle cx=%221491%22 cy=%22221.598%22 r=%2212%22%2F%3E%3Ccircle cx=%221562%22 cy=%22271.295%22 r=%2212%22%2F%3E%3Ccircle cx=%221633%22 cy=%22173.924%22 r=%2212%22%2F%3E%3Ccircle cx=%221704%22 cy=%22148.069%22 r=%2212%22%2F%3E%3Ccircle cx=%221775%22 cy=%22628.45%22 r=%2212%22%2F%3E%3Ccircle cx=%221846%22 cy=%22581.449%22 r=%2212%22%2F%3E%3Ccircle cx=%221917%22 cy=%22432.11%22 r=%2212%22%2F%3E%3Ccircle cx=%221988%22 cy=%22136.129%22 r=%2212%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}



.grid-container-3 {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.grid-container-3 li {
  width: 220px;
  height: 220px;
  display: grid;
  align-items: center;
  text-align: center;
}
.grid-container-3 li img {
  width: 100%;
  height: 100%;
  grid-area: 1/1/-1/-1;
  z-index: -1;
}
.grid-container-3 li a {
  width: 35px;
  grid-area: 1/1/-1/-1;
  justify-self: center;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-decoration: none;
  color: rgb(170, 0, 0);

  background: #fff;
  border: 3px solid rgb(163, 0, 0);
}